h1 {

font-family: "Chalkboard";
text-align: center;
font-size: 60px;
color: #F5F5F5;

}

audio { 
   display:none;
}

img {
  filter: gray; /* IE6-9 */
  filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
}

/* Disable grayscale on hover */
img:hover {
  filter: none;
  -webkit-filter: grayscale(0);
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* IE/Edge */
  user-select: none;           /* non-prefixed version, currently
                                  not supported by any browser */
}

body {

-webkit-animation: color_change 8s infinite alternate;
	-moz-animation: color_change 8s infinite alternate;
	-ms-animation: color_change 8s infinite alternate;
	-o-animation: color_change 8s infinite alternate;
	animation: color_change 8s infinite alternate;
	
	animation-name: color_change;
	animation-duration: 8s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}
@-webkit-keyframes color_change {
	from { background-color: blue; }
	to { background-color: red; }
}
@-moz-keyframes color_change {
	from { background-color: blue; }
	to { background-color: red; }
}
@-ms-keyframes color_change {
	from { background-color: blue; }
	to { background-color: red; }
}
@-o-keyframes color_change {
	from { background-color: blue; }
	to { background-color: red; }
}
@keyframes color_change {
	from { background-color: blue; }
	to { background-color: red; }
}